<a href="https://colab.research.google.com/github/AbhinayKalapaka/AI-ML-BOOTCAMP/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#operators
#arithmetic operators
print("arithmetic operators")
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

arithmetic operators
15
5
50
100000
2.0
2
0

In [ ]:
#comparision operator
a==b
a<=b
a>=b
a<<b
a>>b
a!=b

In [8]:
#assignment operator
a=10
b=5
c=a+b
c-=a

print(c)

5

In [11]:
#logical operators
x=True
y=False
print("x and y is",x and y)
print("x or y is",x or y)
print("x not y is", not y)

x and y is False
x or y is True
x not y is True

In [13]:
#bitwise operators
a=13 #1101
b=14 #1110
print(a&b)#and
print(a|b)#or
print(-a)#not
print(a^b)#xor
print(a>>2)#right shift
print(a<<2)#left shift

12
15
-13
3
3
52

In [15]:
#membership operators
x="hello world"
print("w" in x)

True

In [17]:
#identity operators
x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x3 is y3)
print(x2 is y2)

False
False
True

In [18]:
a=int(input("enter a number"))
print(a)
b=input("enter string")
print(b)

enter a number7
7
enter stringabhi
abhi

In [44]:
#strings
str="gradstellar"
print(str[0])
print(str[-2])

#slicing
print(str[0:5])

#from:to(n-1):2
print(str[0:7:2])

#reverse of string
print(str[::-1])

#string methods
my_str="i am learning python"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.lstrip())

#string operations
str1="hello"
str2="world"
print(str1+str2)
print(str1*2)

#string formats
name="abhi"
language="python"
year=2023
print(name,"is learning",language,"programming in",year)

#format
print("{0} is learning {1} programming in {2}".format(name,language,year))

#placeholder '%'
print("%s is learning %s in %d"%(name,language,year))

#rawstring
print(f"{name} is learning {language} in {year}")

g
a
grads
gase
ralletsdarg
I AM LEARNING PYTHON
i am learning python
I AM LEARNING PYTHON
i am learning python
helloworld
hellohello
abhi is learning python programming in 2023
abhi is learning python programming in 2023
abhi is learning python in 2023
abhi is learning python in 2023

In [67]:
#lists
my_list=[1,2,3,4]
my_list1=[1,"hello","3.2"]
my_list2=["apple","banana","cherry"]

#indexing
print(my_list[2])
print(my_list[-1])

#slicing
print(my_list[:3])

#nested list
N_list=["dragonfruit",my_list,my_list1]
print(N_list[0][0:6])
print(N_list[2][1:2][0][0])

#list method
my_list.append(5)
print(my_list)

l1=[4,2,5,9,7,3,24,49,6,4,4]

print(l1.count(4))
print(len(l1))
print(l1[::-1])
l1.sort()
print(l1)

3
4
[1, 2, 3]
dragon
h
[1, 2, 3, 4, 5]
3
11
[4, 4, 6, 49, 24, 3, 7, 9, 5, 2, 4]
[2, 3, 4, 4, 4, 5, 6, 7, 9, 24, 49]