<a href="https://colab.research.google.com/github/AbhinayKalapaka/AI-ML-BOOTCAMP/blob/main/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#decision making

#if
var=10
if var>0:
  print("true")
print(var)

#if--else statement
var=-7
if var>0:
  print("true")
else:
  print("false")

#nested if statement
age=float(input("enter age"))
if age>0:
  if age>0 and age<=15:
    if age>0 and age<=2:
      print("free ticket")
  elif age>0 and age<15:
    print("half ticket")
  elif age>=15 and age<60:
    print("full ticket")
  elif age>=60:
    print("discounted ticket")

true
10
false
enter age16
full ticket

In [ ]:
#loops
num=[11,23,35,46,57,68,78,89,90]
for i in range(11,100):
  print(i)

sum=0
for val in num:
  sum=sum+val
print("the sum is",sum)
for i in range(11,57,35):
  print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
the sum is 497
11
46

In [ ]:
#while loop
count=1
while(count<11):
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

In [8]:
#nested loops

#nested for
a=[[23,45,12],[12,34,65],[32,87,56]]
b=[[12,34,56],[43,65,76],[21,34,80]]

result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(a)):
  for j in range(len(a[0])):
    result[i][j]=a[i][j]+b[i][j]
    for r in result:
      print(r)

[35, 0, 0]
[0, 0, 0]
[0, 0, 0]
[35, 79, 0]
[0, 0, 0]
[0, 0, 0]
[35, 79, 68]
[0, 0, 0]
[0, 0, 0]
[35, 79, 68]
[55, 0, 0]
[0, 0, 0]
[35, 79, 68]
[55, 99, 0]
[0, 0, 0]
[35, 79, 68]
[55, 99, 141]
[0, 0, 0]
[35, 79, 68]
[55, 99, 141]
[53, 0, 0]
[35, 79, 68]
[55, 99, 141]
[53, 121, 0]
[35, 79, 68]
[55, 99, 141]
[53, 121, 136]

In [15]:
#nested while loop
number=int(input("enter which table u need"))
i=1
while(i<=number):
  print(f"table{i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("-----------")
  i=i+1

enter which table u need3
table1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
-----------
table2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
-----------
table3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
-----------

In [19]:
#control statement

#break
for i in "python":
  if i=="n":
    break
  print("current letter",i)
print("------")
#continue
for i in "python":
  if i=="n":
    continue
  print("current letter",i)
print("------")
#pass
for i in "python":
  if i=="n":
    pass
  print("current letter",i)

current letter p
current letter y
current letter t
current letter h
current letter o
------
current letter p
current letter y
current letter t
current letter h
current letter o
------
current letter p
current letter y
current letter t
current letter h
current letter o
current letter n

In [22]:
#functions

def greet(name):
  '''this is a greet function'''
  print("hello,\t"+name+"\t python")
greet("start")

hello,	start	 python

In [23]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))

6
12

In [24]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,a=1,b=2))

7
6

In [25]:
#positional
def A(a,b,c):
  return a+b+c
print(A(10,20,30))

60

In [26]:
#arbitary positional
def add_num(*n):
  print(sum(n))
add_num(1,2,3,4,5,6,7,8)

36

In [27]:
#arbitary keywords
def key_args(**kwargs):
  return kwargs
myd=key_args(apples=30,banana=20)
print(myd['apples'])
print(myd)

30
{'apples': 30, 'banana': 20}

In [29]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("HeLlO, I aM leARNinG PYthoN")
  print(greet)
explain(shout)
explain(whisper)

HELLO, I AM LEARNING PYTHON
hello, i am learning python